<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
<servlet-name>upload</servlet-name>
<servlet-class>com.action.FileUploader</servlet-class>
</servlet>
<servlet>
<servlet-name>update</servlet-name>
<servlet-class>com.action.DocumentUpdator</servlet-class>
</servlet>
<servlet>
<servlet-name>updated</servlet-name>
<servlet-class>com.action.UploadUpdatedFile</servlet-class>
</servlet>
<servlet>
<servlet-name>updated1</servlet-name>
<servlet-class>com.action.UploadUpdatedFile1</servlet-class>
</servlet>
<servlet>
<servlet-name>updated2</servlet-name>
<servlet-class>com.action.UploadUpdatedFile2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>upload</servlet-name>
<url-pattern>/upload</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>update</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updated</servlet-name>
<url-pattern>/updated</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updated1</servlet-name>
<url-pattern>/updated1</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>updated2</servlet-name>
<url-pattern>/updated2</url-pattern>
</servlet-mapping>
</web-app>